@import 'styleguide';
@import 'mixins';
@import 'settings';
body {
    margin: 0;
    background: url(/content/img/background-img-2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-color: #464646;    
}

.page-wrapper {
    max-width: 700px;
    position: relative;
    margin: auto;
    width: 100%;
    padding: 0 20px 0;
}

.logo {
	width: 182px;
	height: 336px;
    object-fit: contain;
    top: 0;
    left: 20%;
    padding-bottom: 80px;

    @include breakpoint($large-up) {
        padding-bottom: 210px;        
    }
}

#landing-page {
    h1 {
        margin: 0;
        @include breakpoint($small-down) {
            font-size: 44px;
        }
    }

    h2 {
        margin: 0;        
    }
    
    p{
        margin: 5px 0;        
    }
}